<div class="container">
  <h1 class="mt-4 mb-4">Lista de APIs</h1>
  <div class="alphabet-filter text-center mb-4">
    <a *ngFor="let letter of alphabet" (click)="filterByLetter(letter)" class="alphabet-link">{{ letter }}</a>
  </div>
  <div class="filter">
    <input (keyup)="applyFilter($event)" placeholder="Filter APIs" class="form-control mb-4">
  </div>
  <div class="filter-info mb-4">
    <!-- Barra que irá conter alguns filtros estilo drop box -->
  </div>
  <div *ngFor="let group of groupedApis | keyvalue">
    <h3>{{group.key}}</h3>
    <ul>
      <li *ngFor="let api of group.value">
        <a (click)="goToDetail(api.id)">{{ api.name }}</a>
      </li>
    </ul>
  </div>
</div>
