<!-- home.component.html -->
<div class="row">
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-header bg-success text-white">
                Api do dia <span>🌟</span>
            </div>
            <div class="card-body">
                <img src="assets/img/hero-img.png" class="card-img-top" alt="...">
                <h5 class="card-title">Titulo Bacanudo</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum ipsum ac orci venenatis, et luctus diam aliquam.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header bg-pink text-white">
                Adicionado recentemente <span>😍</span>
            </div>
            <div class="card-body">
                <img src="assets/img/project-1.jpg" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                APIs mais acessadas <span>🔥</span>
            </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">1º &#123;api&#125; - Titulo <br> <small>Breve Resumo</small></a>
                <a href="#" class="list-group-item list-group-item-action">2º &#123;api&#125; - Titulo <br> <small>Breve Resumo</small></a>
                <a href="#" class="list-group-item list-group-item-action">3º &#123;api&#125; - Titulo <br> <small>Breve Resumo</small></a>
                <a href="#" class="list-group-item list-group-item-action">4º &#123;api&#125; - Titulo <br> <small>Breve Resumo</small></a>
                <a href="#" class="list-group-item list-group-item-action">5º &#123;api&#125; - Titulo <br> <small>Breve Resumo</small></a>
                <a href="#" class="list-group-item list-group-item-action">6º &#123;api&#125; - Titulo <br> <small>Breve Resumo</small></a>
            </div>
        </div>
    </div>
</div>
