<div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card mb-3" *ngIf="featuredApi">
          <div class="card-header bg-success text-white">
            API do Dia <span>🌟</span>
          </div>
          <div class="card-body">
            <img src="assets/images/hero-img.gif" class="card-img-top" alt="API do Dia">
            <div class="text-container">
              <h5 class="card-title">{{ featuredApi.name }}</h5>
              <p class="card-text">{{ featuredApi.description }}</p>
            </div>
          </div>
        </div>
  
        <div class="card" *ngIf="latestApi">
          <div class="card-header bg-pink text-white">
            Adicionado Recentemente <span>😍</span>
          </div>
          <div class="card-body">
            <img src="assets/images/coisas.png" class="card-img-top" alt="API do Dia">
            <div class="text-container">
              <h5 class="card-title">{{ latestApi.name }}</h5>
              <p class="card-text">{{ latestApi.description }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-info text-white">
            APIs Mais Acessadas <span>🔥</span>
          </div>
          <div class="list-group list-group-flush">
            <a *ngFor="let api of topApis" [routerLink]="['/apis', api.id]" class="list-group-item list-group-item-action">
              {{ api.name }} <br> 
              <small>{{ api.likes }} curtidas</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  