body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}

header, footer {
  background-color: #f8f9fa;
}

main {
  flex: 1;
}

.navbar {
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.btn-outline-danger {
  border: 2px solid #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.footer {
  text-align: center;
}

.card-header.bg-success {
  background-color: #28a745 !important;
}

.card-header.bg-pink {
  background-color: #e83e8c !important;
}

.card-header.bg-info {
  background-color: #17a2b8 !important;
}

.card-img-top {
  height: auto;
  width: 100%;
}

.container {
  margin-top: 20px;
}

.text-white {
  color: #fff !important;
}
